html {
  box-sizing: border-box;
}
body {
  background: black;
  color: yellow;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.block {
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 33.33%;
  margin-bottom: 30px;
}
